<div id="<%= dom_id resgate_premio %>">
  <p>
    <strong>Resgate:</strong>
    <%= resgate_premio.resgate_id %>
  </p>

  <p>
    <strong>Premio:</strong>
    <%= resgate_premio.premio_id %>
  </p>

  <p>
    <strong>Pontos utilizados:</strong>
    <%= resgate_premio.pontos_utilizados %>
  </p>

</div>
