<div id="<%= dom_id acao_local %>">
  <p>
    <strong>Acao:</strong>
    <%= acao_local.acao_id %>
  </p>

  <p>
    <strong>Local:</strong>
    <%= acao_local.local_id %>
  </p>

  <p>
    <strong>Disponibilidade:</strong>
    <%= acao_local.disponibilidade %>
  </p>

</div>
