<div id="<%= dom_id premio_categoria %>">
  <p>
    <strong>Premio:</strong>
    <%= premio_categoria.premio_id %>
  </p>

  <p>
    <strong>Categoria premio:</strong>
    <%= premio_categoria.categoria_premio_id %>
  </p>

</div>
