<div id="<%= dom_id historico_acao %>">
  <p>
    <strong>Pessoa:</strong>
    <%= historico_acao.pessoa_id %>
  </p>

  <p>
    <strong>Acao:</strong>
    <%= historico_acao.acao_id %>
  </p>

</div>
