<div id="<%= dom_id registro_acao %>">
  <p>
    <strong>Acao:</strong>
    <%= registro_acao.acao_id %>
  </p>

  <p>
    <strong>Data execucao:</strong>
    <%= registro_acao.data_execucao %>
  </p>

</div>
