<div id="<%= dom_id pessoa_local %>">
  <p>
    <strong>Pessoa:</strong>
    <%= pessoa_local.pessoa_id %>
  </p>

  <p>
    <strong>Local:</strong>
    <%= pessoa_local.local_id %>
  </p>

  <p>
    <strong>Data visita:</strong>
    <%= pessoa_local.data_visita %>
  </p>

</div>
